.job_details_wrap {
  width: 100%;
  background-color: #fff;
}

.job_details {
  max-width: 1418px;
  margin: 0 auto;
  padding: 24px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details_wrap {
  display: flex;
  flex-direction: column;
}

.hr_line_mobile,
.hr_line {
  border: 1px solid transparent;
  border-bottom: 1px solid #3a4562;
  opacity: 0.13;
}

.hr_line {
  margin-bottom: 14px;
}

.hr_line_desk {
  display: none;
}

/* additional info */
.addtinfo_images_wrap {
  display: flex;
  flex-direction: column-reverse;
}

.employment_type_wrap {
  display: flex;
  flex-direction: row;
}

.employment_type,
.benefits {
  width: 222px;
  height: 49px;
  border-radius: 8px;
  background: rgba(161, 177, 219, 0.317343);
  border: 1px solid rgba(85, 105, 158, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'proximanova700';
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.457143px;
  color: #55699e;
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.employment_type:last-child,
.benefits:last-child {
  margin-right: 0;
}

.benefits {
  background: rgba(255, 207, 0, 0.15);
  border: 1px solid #ffcf00;
  color: #988b49;
}

/* apl btn */
.apply_btn_wrap {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.apply_btn {
  padding: 18px 30px;
  background-color: #384564;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  font-family: 'proximanova400';
  text-transform: uppercase;
  color: #ffffff;
  line-height: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.apply_btn:hover {
  background-color: #262f46;
}

/* details description */
.post_time_text_desk {
  display: none;
}

.job_title_salary_wrap {
  display: flex;
  flex-direction: column;
}

.job_title_text {
  font-family: 'proximanova700';
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.75px;
  color: #3a4562;
  margin-bottom: 5px;
}

.job_salary_posted_wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.job_salary_wrap {
  display: flex;
  flex-direction: column-reverse;
}

.job_salary_text {
  font-family: 'proximanova700';
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3a4562;
  width: max-content;
}

.per_year_text {
  font-family: 'proximanova400';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
}

.post_time_text {
  font-family: 'proximanova400';
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.191905px;
  color: rgba(56, 65, 93, 0.602109);
}

.description_second_title {
  font-family: 'proximanova700';
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3a4562;
  margin-top: 40px;
  margin-bottom: 5px;
}

.description_text,
.description_text_list {
  font-family: 'proximanova400';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.82);
}

.description_text_list {
  list-style: square;
  margin-left: 26px;
}

.description_list_item::marker {
  font-size: 30px;
  color: rgba(56, 69, 100, 0.632594);
}

/* page header */
.page_title {
  font-size: 28px;
  font-family: 'proximanova700';
  color: #3a4562;
  letter-spacing: 0.413333px;
  line-height: 34px;
  margin-bottom: 12px;
}

.page_header {
  display: flex;
  flex-direction: column;
}

.book_share_wrap {
  display: flex;
  gap: 36px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.book_share_img {
  margin-right: 15px;
  width: 19px;
  height: 23px;
}

.btn_stl {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn_text {
  font-family: 'proximanova400';
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: rgba(56, 65, 93, 0.82);
}

.btn_stl:hover .btn_text {
  text-decoration: underline;
}

/* images set */
.attached_images_wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.picture_wrap {
  height: 116px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 8px;
  margin-right: 10px;
}

/* map */
.map_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map_inself {
  margin: 0 auto;
}

.contact_mobile_map {
  display: block;
}

.upper_wrap {
  width: 332px;
  height: 218px;
  background-color: #2a3047;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.square_bcgr {
  width: 273px;
  height: 273px;
  background-color: #202336;
  border-radius: 50%;
  margin-left: -77px;
  margin-top: -12px;
}

.upper_text_wrap {
  position: relative;
  width: 332px;
  height: 218px;
  top: 12px;
  left: 77px;
  padding: 10px 58px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dep_name {
  font-family: 'proximanova700';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.23619px;
  color: #e7eaf0;
}

.text_map,
.text_map_num_em {
  font-family: 'proximanova400';
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: #e7eaf0;
}

.text_map_num_em {
  color: rgba(255, 255, 255, 0.669635);
}

.text_loc_wrap {
  display: flex;
  flex-direction: row;
}

.text_loc_img {
  width: 13px;
  height: 24px;
  margin-top: -3px;
  margin-right: 8px;
}

.lower_wrap {
  width: 332px;
  height: 218px;
  background-color: #2a3047;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.map_image {
  width: 332px;
  height: 218px;
}

.map_cursor {
  position: relative;
  top: -139px;
  left: 156px;
}

/* return btn */
.return_btn {
  text-decoration: none;
  width: min-content;
  margin: 30px auto;
}

.return_btn_stl {
  width: 213px;
  height: 50px;
  background: #e4e5ea;
  mix-blend-mode: normal;
  border-radius: 8px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 26px 0 23px;
  cursor: pointer;
  transition: 0.3s;
}

.return_btn_stl:hover {
  background: #cccccc;
}

.retun_btn_text {
  font-family: 'proximanova400';
  font-size: 12px;
  text-transform: uppercase;
  color: #3a4562;
}

/* ---------------------------------------------------------------------------- */
@media screen and (min-width: 900px) {
  .job_details {
    padding: 57px 9px;
  }

  .details_wrap {
    min-width: 723px;
    max-width: 723px;
    margin-left: 86px;
  }

  .hr_line_desk {
    border: 1px solid transparent;
    border-bottom: 1px solid #3a4562;
    opacity: 0.13;
  }

  .hr_line_desk {
    display: block;
  }

  /* additional info */
  .addtinfo_images_wrap {
    flex-direction: column;
  }

  .employment_type,
  .benefits {
    margin-bottom: 20px;
  }

  /* apl btn */
  .apply_btn_wrap {
    justify-content: flex-start;
    margin: 30px 0;
  }

  .apply_btn {
    margin: 30px 0;
  }

  /* details description */
  .post_time_text_desk {
    display: inline-block;
    margin: 7px 0;
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
  }

  .job_title_salary_wrap {
    flex-direction: row;
  }

  .job_title_text {
    min-width: 500px;
    word-break: break-word;
    margin-bottom: 0;
  }

  .job_salary_posted_wrap {
    display: contents;
    margin-bottom: 0;
  }

  .job_salary_wrap {
    flex-direction: column;
  }

  .per_year_text {
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3a4562;
  }

  .post_time_text {
    display: none;
  }

  .description_second_title {
    margin: 35px 0 12px 0;
  }

  .description_text,
  .description_text_list {
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #3a4562;
  }

  .description_text_list {
    margin-left: 0;
  }

  /* page header */
  .page_title {
    margin-bottom: 9px;
  }

  .page_header {
    flex-direction: row;
    justify-content: space-between;
  }

  .book_share_wrap {
    gap: 31px;
    margin: 0;
  }

  .btn_text {
    font-size: 18px;
    font-family: 'RobotoRegular';
    color: #3a4562;
    letter-spacing: -0.5625px;
    line-height: 24px;
    margin-top: 3px;
  }

  /* map */
  .contact_mobile_map {
    display: none;
  }

  .upper_wrap {
    width: 402px;
  }

  .upper_text_wrap {
    width: 402px;
  }

  .dep_name {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
  }

  .text_map,
  .text_map_num_em {
    font-family: 'RobotoRegular';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: #e8ebf3;
  }

  .lower_wrap {
    width: 402px;
  }

  .map_image {
    width: 402px;
  }

  .map_cursor {
    left: 186px;
  }

  /* return btn */
  .return_btn {
    margin: 0;
    margin-bottom: 30px;
  }

  .return_btn_stl {
    margin-left: -89px;
  }
}

@media screen and (min-width: 1270px) {
  .job_details {
    flex-direction: row;
  }
}
