* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'proximanova700';
  src: url('proximanova.otf');
}

@font-face {
  font-family: 'proximanova400';
  src: url('proximanova_regular.ttf');
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('RobotoRegular.ttf');
}
